/* Add your CSS code below */
a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.message__time {
  font-size: 0.9rem;
}

.message--unread {
  border-left: solid;
  border-color: blue;
}

.message__content {
  line-height: 50px;
}

.message__time--old {
  opacity: 0.5;
}
