/* Add your own CSS code below */
.countries--first {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 10%;
  width: fit-content;
}

.countries--second {
  width: 60%;
}

.countries--third {
  display: flex;
  flex-direction: column-reverse;
  width: 60%;
}
